{% extends './base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-50 p-4 m-4 bg-light-subtle border rounded text-primary-emphasis">
        <form method="get">
            <!-- 検索キーワード入力 -->
            <div class="pt-2">
            {{ form.as_p }}
            </div>
            <!-- カテゴリの選択 -->
            <div class="pt-2">
                <label for="category">カテゴリ:</label>

                <select name="category">
                    <option value="">すべて</option>
                    <option value="本">本</option>
                    <option value="電子機器">電子機器</option>
                    <!-- 他のカテゴリを追加 -->
                </select>
            </div>

            <!-- 価格範囲の入力 -->
            <div class="pt-4">
                <label for="min_price">最低価格:</label>
                <input type="number" name="min_price" min="0">
                <label for="max_price">最高価格:</label>
                <input type="number" name="max_price" min="0">
            </div>
            <!-- 並び替えの選択 -->
            <label for="sort">並び替え:</label>

            <select name="sort">
                <option value="name">名前順</option>
                <option value="price_asc">価格が安い順</option>
                <option value="price_desc">価格が高い順</option>
            </select>
            <button type="submit">検索</button>
        </form>
    </div>
</div>
    
   <ul>
   {% for product in results %}
    <li>{{ product.name }} - {{ product.price }}</li>
   {% empty %}
    <li>No results found</li>
   {% endfor %}
   </ul>
   <div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">最初</a> <!-- 最初のページへのリンク -->
   <!-- 前のページへのリンク -->
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}
    <span class="current">
    ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
   <!-- 次のページへのリンク -->
    <a href="?page={{ page_obj.next_page_number }}">次へ</a> 
   <!-- 最後のページへのリンク -->
    <a href="?page={{ page_obj.paginator.num_pages }}">最後</a>
    {% endif %}
    </span>
   </div>
      
   <ul>
    {% for product in page_obj %}
     <li>{{ product.name }} - {{ product.price }}</li>
    {% empty %}
     <li>No results found</li>
    {% endfor %}
    </ul>

    
    
{% endblock %}